<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.lllm.hotinfo.admin.dao.ContentDao">
    <sql id="selectContentColumns">
          a.id,
          a.title,
          a.url,
          a.pic,
          a.descr,
          a.tag,
          a.updated,
          a.classify,
          a.category_id AS categoryId,
          b.id AS `category.id`,
          b.title AS `category.title`
    </sql>
    <sql id="joinMysql">
        LEFT JOIN hi_category AS b ON a.category_id = b.id
    </sql>
    <select id="selectAll" resultType="Content">
        SELECT
        <include refid="selectContentColumns"/>
        FROM
        hi_body_news AS a
        <include refid="joinMysql"/>
        WHERE
        a.del_flag = 1
    </select>
<!--添加-->
    <insert id="insert" parameterType="Content">
        INSERT
        INTO
        hi_body_news (
          title,
          url,
          pic,
          descr,
          tag,
          created,
          updated,
          classify,
          del_flag,
          category_id
        )
        VALUES
          (
            #{title},
            #{url},
            #{pic},
            #{descr},
            #{tag},
            #{created},
            #{updated},
            #{classify},
            #{delFlag},
            #{categoryId}
          )
    </insert>

    <select id="getTById" resultType="Content">
        SELECT
         <include refid="selectContentColumns"/>
        FROM
        hi_body_news AS a
        <include refid="joinMysql" />
        WHERE
         a.id = #{id}
        AND
        a.del_flag = 1
    </select>

    <select id="count" resultType="Integer">
        SELECT
         COUNT( 1 )
        FROM
        hi_body_news
        <where>
            del_flag = 1
            <if test="title != null and title != ''">
                AND title LIKE concat('%',#{title},'%')
            </if>
          <!--  <if test="category.title != null and category.title != ''">
                AND category.title LIKE concat('%',#{category.title},'%')
            </if>-->
        </where>
    </select>

    <select id="page" resultType="Content">
        SELECT
        <include refid="selectContentColumns"/>
        FROM
        hi_body_news AS a
        <include refid="joinMysql" />
        <where>
            a.del_flag = 1
            <if test="title != null and title != ''">
                AND a.title LIKE concat('%',#{title},'%')
            </if>
          <!--  <if test="category.title != null and category.title != ''">
                AND a.category.title LIKE concat('%',#{category.title},'%')
            </if>-->
        </where>
        LIMIT #{start},#{length}
    </select>
    <update id="delete" parameterType="long">
        UPDATE
          hi_body_news
        SET
          del_flag = 0
         WHERE id = #{id}
    </update>
    <update id="batchDelete">
        UPDATE
        hi_body_news
        SET
        del_flag = 0
        WHERE
        <if test="array != null and array.length > 0">
            id IN
            <foreach collection="array" open="(" close=")" item="id" separator=",">
                #{id}
            </foreach>
        </if>
    </update>
    <!--修改-->
    <update id="update">
        UPDATE
          hi_body_news
        SET
           title = #{title},
           url = #{url},
           pic = #{pic},
           descr = #{descr},
           tag = #{tag},
           updated = #{updated},
           classify = #{classify},
           category_id = #{categoryId}
         WHERE id = #{id}
    </update>
</mapper>